# Xcode & macOS Caches
.DS_Store
*/.DS_Store
*.swp
*~

# Build & DerivedData
build/
DerivedData/
.build/
*.build/
*.build-test/

# Xcode User Settings & State
xcuserdata/
*.xcuserdata
*.xcuserdatad
*.xcscmblueprint
*.xccheckout
project.xcworkspace/xcuserdata/

# Obj-C / Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds & Workspaces
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager & Carthage & CocoaPods
Carthage/Build/
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Antigravity & IDE
.gemini/
.agents/scratch/
